In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import colombia_weather
import prepare

In [2]:
df = prepare.get_data()

In [3]:
df

,region,mean_precip,mean_temp,min_temp,max_temp,price,quantity,inflated
date,,,,,,,,
1960-01-01,Caldas,0.040000,72.500000,NaN,NaN,45.680000,782.0,387.519181
1960-01-01,Cundinamarca,0.280000,58.250000,NaN,NaN,45.680000,782.0,387.519181
1960-02-01,Caldas,0.040000,72.210526,NaN,NaN,45.950000,449.0,389.809684
1960-02-01,Cundinamarca,0.082857,58.894737,NaN,NaN,45.950000,449.0,389.809684
1960-02-01,Narino,0.015172,NaN,NaN,NaN,45.950000,449.0,389.809684
...,...,...,...,...,...,...,...,...
2018-12-01,Quindio,0.079032,73.548387,60.0,85.0,129.622903,1283.0,129.622903
2018-12-01,Risaralda,0.156538,72.387097,62.0,84.0,129.622903,1283.0,129.622903
2018-12-01,Santander,0.020345,72.419355,63.0,86.0,129.622903,1283.0,129.622903
2018-12-01,Tolima,0.032500,83.387097,69.0,94.0,129.622903,1283.0,129.622903
2018-12-01,Valle,0.004167,85.258065,73.0,92.0,129.622903,1283.0,129.622903

In [8]:
df.shape

(7199, 8)

In [9]:
df.describe()

,mean_precip,mean_temp,min_temp,max_temp,price,quantity,inflated
count,5594.000000,6974.000000,6715.000000,4778.000000,7199.000000,7199.000000,7199.000000
mean,0.232269,73.824772,59.647655,86.786731,124.844434,908.786012,285.931798
std,0.359864,10.446067,13.129839,9.129883,60.170478,380.207469,175.068943
min,0.000000,49.000000,20.000000,32.000000,37.270000,127.000000,79.446600
25%,0.052186,69.917500,54.000000,81.000000,70.160000,647.000000,159.021831
50%,0.134661,74.150376,63.000000,88.000000,128.020000,857.000000,266.159736
75%,0.279215,82.632895,71.000000,94.000000,157.330000,1114.000000,356.103554
max,10.040000,91.000000,80.000000,117.000000,319.670000,2755.000000,1324.610143

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7199 entries, 1960-01-01 to 2018-12-01
Data columns (total 8 columns):
region         7198 non-null object
mean_precip    5594 non-null float64
mean_temp      6974 non-null float64
min_temp       6715 non-null float64
max_temp       4778 non-null float64
price          7199 non-null float64
quantity       7199 non-null float64
inflated       7199 non-null float64
dtypes: float64(7), object(1)
memory usage: 506.2+ KB

In [7]:
df.region.isnull().sum()

1

In [20]:
# look where the missing value is
df.region.value_counts()

Cundinamarca    698
Narino          691
Risaralda       646
Magdalena       614
Caldas          583
Huila           569
Valle           557
Antioquia       538
Santander       518
Cauca           516
Tolima          462
Cesar           433
Quindio         373
Name: region, dtype: int64

In [11]:
df.mean_precip.isnull().sum()

1605

In [18]:
df[df.region == np.nan]

Empty DataFrame
Columns: [region, mean_precip, mean_temp, min_temp, max_temp, price, quantity, inflated]
Index: []