In [38]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import colombia_weather

In [ ]:
df = pd.read_csv("psd_coffee.csv")

In [ ]:
df = df[df.Country_Name == "Colombia"]

In [ ]:
df.dtypes

In [ ]:
df[df.Market_Year == 2015]

In [ ]:
import colombia_weather

In [ ]:
pd.DataFrame.from_dict(colombia_weather.stations,orient="index")

In [ ]:
from colombia_weather import weather_stations

In [ ]:
colombia_weather.weather_stations

In [ ]:
colombia_weather.get_weather()

In [ ]:
df = pd.read_csv("coffee_data/coffee.csv")

In [ ]:
df.price_adjusted_inflation.plot()

In [ ]:
df

In [ ]:
df.date = df.date.apply(pd.to_datetime)

In [ ]:
df.set_index('date',inplace=True)

In [ ]:
df.price_adjusted_inflation.plot()
plt.title("Price of coffee 1958-")

In [ ]:
import plotly
import pandas as pd
import plotly.graph_objects as go

In [ ]:
url = "https://raw.githubusercontent.com/plotly/datasets/master/gapminderDataFiveYear.csv"
dataset = pd.read_csv(url)

In [ ]:
years = ["1952", "1962", "1967", "1972", "1977", "1982", "1987", "1992", "1997", "2002","2007"]

In [ ]:
continents = list(dataset['continent'].unique())

In [ ]:
fig_dict = {
    "data": [],
    "layout":{},
    "frames": []
    }

In [ ]:
fig_dict['layout']['xaxis'] = {"range": [30,85],'title':'Life Expactancy'}

In [ ]:
# Libraries
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.sankey import Sankey
 
# basic sankey chart
Sankey(flows=[1, -0.20, -0.15, -0.05, -0.50, -0.10], labels=['Colombia', 'First', 'Second', 'Third', 'Fourth', 'Fifth'], orientations=[0, 1, -1, -1, 0,1]).finish()
plt.title("Sankey diagram with default settings")

In [ ]:
import plotly.graph_objects as go

fig = go.Figure(go.Sankey(
    arrangement = "snap",
    node = {
        "label": ["A", "B", "C", "D", "E", "F"],
        "x": [0.5, 0.1, 0.5, 0.7, 0.3, 0.5],
        "y": [0.7, 0.5, 0.2, 0.4, 0.2, 0.3],
        'pad':10},  # 10 Pixels 
    link = {
        "source": [0, 0, 1, 2, 5, 4, 3, 5],
        "target": [5, 3, 4, 3, 0, 2, 2, 3],
        "value": [1, 2, 1, 1, 1, 1, 1, 2]}))

fig.show()

In [ ]:
import plotly.graph_objects as go
import urllib, json

url = 'https://raw.githubusercontent.com/plotly/plotly.js/master/test/image/mocks/sankey_energy.json'
response = urllib.request.urlopen(url)
data = json.loads(response.read())

fig = go.Figure(data=[go.Sankey(
    valueformat = ".0f",
    valuesuffix = "TWh",
    node = dict(
      pad = 15,
      thickness = 15,
      line = dict(color = "black", width = 0.5),
      label =  data['data'][0]['node']['label'],
      color =  data['data'][0]['node']['color']
    ),
    link = dict(
      source =  data['data'][0]['link']['source'],
      target =  data['data'][0]['link']['target'],
      value =  data['data'][0]['link']['value'],
      label =  data['data'][0]['link']['label']
  ))])

fig.update_layout(
    hovermode = 'x',
    title="Energy forecast for 2050<br>Source: Department of Energy & Climate Change, Tom Counsell via <a href='https://bost.ocks.org/mike/sankey/'>Mike Bostock</a>",
    font=dict(size = 10, color = 'white'),
    plot_bgcolor='black',
    paper_bgcolor='black'
)

fig.show()

In [28]:
country_code = pd.read_json('coffee_data/country_codes.json')

In [29]:
country_code.columns = ['country','dest']

In [15]:
country_code

                              country dest
0                              Angola  ago
1                             Burundi  bdi
2                               Benin  ben
3                        Burkina Faso  bfa
4                            Botswana  bwa
5            Central African Republic  caf
6                       Cote d'Ivoire  civ
7                            Cameroon  cmr
8    Democratic Republic of the Congo  cod
9               Republic of the Congo  cog
10                            Comoros  com
11                         Cape Verde  cpv
12                           Djibouti  dji
13                            Algeria  dza
14                              Egypt  egy
15                            Eritrea  eri
16                     Western Sahara  esh
17                           Ethiopia  eth
18                              Gabon  gab
19                              Ghana  gha
20                             Guinea  gin
21                             Gambia  gmb
22                      Guinea-Bissau  gnb
23                  Equatorial Guinea  gnq
24                              Kenya  ken
25                            Liberia  lbr
26                              Libya  lby
27                            Lesotho  lso
28                            Morocco  mar
29                         Madagascar  mdg
..                                ...  ...
232                              Niue  niu
233                             Nauru  nru
234                       New Zealand  nzl
235                  Pitcairn Islands  pcn
236                             Palau  plw
237                  Papua New Guinea  png
238                  French Polynesia  pyf
239                   Solomon Islands  slb
240                           Tokelau  tkl
241                             Tonga  ton
242                            Tuvalu  tuv
243                           Vanuatu  vut
244                 Wallis and Futuna  wlf
245                             Samoa  wsm
246                         Argentina  arg
247                           Bolivia  bol
248                            Brazil  bra
249                             Chile  chl
250                          Colombia  col
251                           Ecuador  ecu
252                  Falkland Islands  flk
253                     French Guiana  guf
254                            Guyana  guy
255                              Peru  per
256                          Paraguay  pry
257                          Suriname  sur
258                           Uruguay  ury
259                         Venezuela  ven
260                             World  wld
261                             Areas  xxa

[262 rows x 2 columns]

In [30]:
coffee_export_by_country = pd.read_csv("coffee_data/coffee_export_numbers.csv")

In [31]:
coffee_export_by_country.shape

(3177, 6)

In [32]:
coffee_export_by_country = pd.merge(coffee_export_by_country,country_code,on="dest",how="outer")

In [33]:
coffee_export_by_country.to_csv("coffee_data/coffee_export_by_country.csv")

In [187]:
df = pd.read_csv('coffee_data/coffee_export_by_country.csv')

In [188]:
df.shape

(3280, 8)

In [199]:
df = colombia_weather.get_weather()

In [200]:
df[df.PRCP >=0].shape[0]/df.shape[0]

0.6217877265790696

In [201]:
df[df.DATE > '1990-01-01'].head(5)

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,TAVG,TMAX,TMIN
0,COM00080094,"PALONEGRO, CO",7.127,-73.185,1187.8,1990-01-06,NaN,72.0,NaN,NaN
1,COM00080094,"PALONEGRO, CO",7.127,-73.185,1187.8,1990-01-08,NaN,69.0,NaN,NaN
2,COM00080094,"PALONEGRO, CO",7.127,-73.185,1187.8,1990-01-09,NaN,71.0,NaN,NaN
3,COM00080094,"PALONEGRO, CO",7.127,-73.185,1187.8,1990-01-10,0.04,70.0,NaN,64.0
4,COM00080094,"PALONEGRO, CO",7.127,-73.185,1187.8,1990-01-11,0.00,69.0,75.0,64.0

In [202]:
df.DATE = pd.to_datetime(df.DATE)
df["DATE2"] = df.DATE

In [203]:
df.dtypes

STATION              object
NAME                 object
LATITUDE            float64
LONGITUDE           float64
ELEVATION           float64
DATE         datetime64[ns]
PRCP                float64
TAVG                float64
TMAX                float64
TMIN                float64
DATE2        datetime64[ns]
dtype: object

In [204]:
df.set_index('DATE',inplace=True)

In [210]:
stations = df.NAME.unique()

array(['PALONEGRO, CO', 'SAN LUIS, CO', 'SANTIAGO PEREZ, CO',
       'OLAYA HERRERA, CO', 'CAMILO DAZA, CO', 'LAS GAVIOTAS, CO',
       'ALFONSO LOPEZ PUMAREJO, CO', 'VANGUARDIA, CO',
       'SAN ANDRES ISLA S, CO', 'PASTO ANTONIO NARIN, CO', 'MATECANA, CO',
       'ALMIRANTE PADILLA, CO', 'JOSE MARIA CORDOVA, CO', 'EL EDEN, CO',
       'ALFREDO VASQUEZ COBO, CO', 'BENITO SALAS, CO',
       'BOGOTA ELDORADO, CO', 'PERALES, CO', 'SANTA ROSA AMANADONA, VE',
       'PUERTO CARRENO A.GU, VE', 'ANTONIO ROLDAN BETANCOURT, CO',
       'RAFAEL NUNEZ, CO', 'LOS GARZONES, CO', 'EL CARANO, CO',
       'EL EMBRUJO, CO', 'ERNESTO CORTISSOZ, CO',
       'CALI ALFONSO BONILL, CO', 'SIMON BOLIVAR, CO', 'YARIGUIES, CO'],
      dtype=object)

In [230]:
station_activity = pd.DataFrame(df.NAME.unique(),columns=['station_name'])

In [232]:
station_activity.head(2)

    station_name
0  PALONEGRO, CO
1   SAN LUIS, CO

In [233]:
station_activity = station_activity.sort_values(by='station_name').set_index('station_name')

In [234]:
station_activity.head()

Empty DataFrame
Columns: []
Index: [ALFONSO LOPEZ PUMAREJO, CO, ALFREDO VASQUEZ COBO, CO, ALMIRANTE PADILLA, CO, ANTONIO ROLDAN BETANCOURT, CO, BENITO SALAS, CO]

In [ ]:
station_activity = pd.concat([station_activity,df.sort_values(by='NAME').groupby("NAME")['DATE2'].min()],axis=1).rename(columns={"DATE2":"first_date_record"})
station_activity = pd.concat([station_activity,df.sort_values(by='NAME').groupby("NAME")['DATE2'].max()],axis=1).rename(columns={"DATE2":"last_date_record"})

In [154]:
grouper = df.groupby([pd.Grouper(freq='1M'),'NAME'])

In [155]:
grouper = grouper.mean().reset_index(level='NAME')

In [158]:
grouper.groupby([pd.Grouper(freq='Y')])

In [162]:
year_1960 = grouper[grouper.index < '1961-01-01']

In [165]:
year_1960.NAME.nunique()

4

In [167]:
grouper.groupby([pd.Grouper(freq='Y')])['NAME'].nunique()

DATE
1960-12-31     4
1961-12-31     5
1962-12-31     6
1963-12-31     9
1964-12-31    18
1965-12-31    18
1966-12-31    18
1967-12-31    20
1968-12-31    21
1969-12-31    23
1970-12-31    23
1971-12-31    23
1972-12-31     6
1973-12-31    25
1974-12-31    25
1975-12-31    26
1976-12-31    26
1977-12-31    26
1978-12-31    26
1979-12-31    27
1980-12-31    27
1981-12-31    26
1982-12-31    26
1983-12-31    26
1984-12-31    23
1985-12-31    24
1986-12-31    24
1987-12-31    24
1988-12-31    23
1989-12-31    16
              ..
1991-12-31    24
1992-12-31    26
1993-12-31    25
1994-12-31    24
1995-12-31    24
1996-12-31    25
1997-12-31    24
1998-12-31    25
1999-12-31    26
2000-12-31    26
2001-12-31    28
2002-12-31    28
2003-12-31    27
2004-12-31    26
2005-12-31    27
2006-12-31    26
2007-12-31    23
2008-12-31    24
2009-12-31    27
2010-12-31    27
2011-12-31    27
2012-12-31    27
2013-12-31    24
2014-12-31    22
2015-12-31    27
2016-12-31    27
2017-12-31    27
2018-12-31    27
2019-12-31    27
2020-12-31    27
Freq: A-DEC, Name: NAME, Length: 61, dtype: int64

In [184]:
def weather_stations_by_year():
    df = colombia_weather.get_weather()
    df.DATE = pd.to_datetime(df.DATE)
    df.set_index('DATE',inplace=True)
    return df.groupby([pd.Grouper(freq='Y')])['NAME'].nunique()

In [185]:
df = weather_stations_by_year()

DATE
1960-12-31     4
1961-12-31     5
1962-12-31     6
1963-12-31     9
1964-12-31    18
1965-12-31    18
1966-12-31    18
1967-12-31    20
1968-12-31    21
1969-12-31    23
1970-12-31    23
1971-12-31    23
1972-12-31     6
1973-12-31    25
1974-12-31    25
1975-12-31    26
1976-12-31    26
1977-12-31    26
1978-12-31    26
1979-12-31    27
1980-12-31    27
1981-12-31    26
1982-12-31    26
1983-12-31    26
1984-12-31    23
1985-12-31    24
1986-12-31    24
1987-12-31    24
1988-12-31    23
1989-12-31    16
              ..
1991-12-31    24
1992-12-31    26
1993-12-31    25
1994-12-31    24
1995-12-31    24
1996-12-31    25
1997-12-31    24
1998-12-31    25
1999-12-31    26
2000-12-31    26
2001-12-31    28
2002-12-31    28
2003-12-31    27
2004-12-31    26
2005-12-31    27
2006-12-31    26
2007-12-31    23
2008-12-31    24
2009-12-31    27
2010-12-31    27
2011-12-31    27
2012-12-31    27
2013-12-31    24
2014-12-31    22
2015-12-31    27
2016-12-31    27
2017-12-31    27
2018-12-31    27
2019-12-31    27
2020-12-31    27
Freq: A-DEC, Name: NAME, Length: 61, dtype: int64